@charset "UTF-8";
@import "fonts";
:root {
  font-size: 0.875rem;
}
@media (min-width: 24em) {
  :root {
    font-size: 0.9375rem;
  }
}
@media (min-width: 48em) {
  :root {
    font-size: 1rem;
  }
}

body {
  cursor: default;
  font-family: $font-content;
  color: $color-body;
  background-image: url('https://subtlepatterns.com/patterns/sativa.png');
  line-height: 1.7;
}

a {
  display: inline-block;
  color: $color-link;
  position: relative;
  text-decoration: none;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  min-width: 300px;
  padding: 10px;
  box-sizing: border-box;

  @include media_desktop {
    max-width: 980px;
  }

  @include media_tablet {
    max-width: 1024px;
  }
}
.character {
  @include media_desktop {
    width: 32%;
  }

  @include media_tablet {
    width: 49%;
  }

  @include media_mobile {
    width: 100%;
  }
}

